*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font: weight 10px;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
   
}
.container{
    background:url(https://i.pinimg.com/736x/cf/34/1c/cf341c67f24405a34297cb4a92a37e73.jpg);
    /* background: conic-gradient(from .5turn at 50% 110%, white, orange); */
   background-size: cover;
    background-position: center;
    /* height: 100vh; */
}

.formclass{
margin: auto;
padding-top: 15em;
}
.navbar{
    
    height: 50;
    width: 50;
   
}
.navbar-brand{
    background-color: rgb(250, 161, 45);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

}
.image{
    height: 60px;
}
.Heading{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0 4px 21px -12px rgba(0,0,0,0.79);
}
.basic{
    display: flex;
    justify-content: space-around;
}
.options{
    display: flex;
    justify-content: space-evenly;
}
.btndiv{
    display: flex;
    justify-content: center;
    
}
.btn{
    background-color: rgb(250, 69, 3);
    color: white;
    border-color: rgb(250, 69, 3);
    border-radius: 5px;
    box-sizing: border-box;
    padding: 8px;
    margin-top: 20px;
    
}
#nutrient{
    margin-top: 1rem;
    color: orangered;
    font-weight: bold;
    /* margin-left: 2rem; */
    text-align: center;

}
.calories-Information{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font: bold;
    font-size: 100;
    padding-bottom: 2%;

    
}
.Info{
    display: flex;
    justify-content: space-between;

}

.form-select{
    padding: 3px;
    width: 150px;
    margin-top: 20px;
}
.form-control{
    padding: 3px;
    margin-top: 20px;
}
.card-img-top{
   height: 200px;
   width: 200px;

}
/* .meals{
    display: flex;
    flex-direction: row;
    
} */
.text-center{
    align-items: center;
}

#cards-container{
    display: flex;
    justify-content: space-evenly;
}
/* .card-baseBlock{
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 0px 0px 35px 0px;
  padding: 0 0 15px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
} */
/* .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  } */
.meals-card{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;

    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center center;
   
}
.card-baseBlock{
    position: relative;
    width: 380px;
    height: auto;
    margin: 20px 0;
    cursor: pointer;
    background-color: white;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5) ;
    border-radius: 2rem;
}
.card-baseBlock:hover{
    transform: scale(1.1);
}
.card-baseBlock img{
    width: 100%;
    height: 100%;
}
.card-body .card-btn{
    display: flex;
    justify-content: center;
    margin: auto;
    color: white;
    background-color: rgb(250, 69, 3);
    border: none;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5) ;
    cursor: pointer;
    padding:0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem ;
}
.card-body .card-btn:hover{
    color: black;
}
.card-body h5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

.recipes {
    width: 25%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .meal-recipe .text-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    margin-bottom: 4rem;
    margin-top: 3rem;
  }
  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-direction: row;
  }
  @media(max-width:768){
    .row1{
        display: inline-block;
    }
    
  }
  @media(max-width:480){
    html{
        font-size: 50%;
    }

  }